<% layout('/layouts/boilerplate') %>

<div class="container">
    <% for (let i = 0; i < userImages.length; i += 2) { %>
        <div class="row">
            <% for (let j = i; j < i + 2 && j < userImages.length; j++) { %>
                <div class="col-md-6 mb-4">
                    <div class="card h-100 position-relative">
                        <div class="image-container">
                            <img src="<%= userImages[j].imageURL %>" class="card-img-top img-fluid" style="height: 350px; object-fit: cover;" alt="Image">
                        </div>
                        <div class="button-container">
                            <form class="" action="/welcome/<%=userData._id%>/gallery/<%= userImages[j]._id %>?_method=DELETE" method="POST">
                                <button class="btn btn-danger">Delete Image</button>
                            </form>
                            <form class="" action="/welcome/<%=userData._id%>/gallery/<%= userImages[j]._id %>" method="GET">
                                <button class="btn btn-primary">Edit Image</button>
                            </form>
                        </div>
                    </div>
                </div>
            <% } %>
        </div>
    <% } %>
</div>