<% layout('/layouts/boilerplate')%>
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6 profile-info">
            <h1 class="text-center mb-4">Welcome <%= dbUser.name %></h1>
            <div class="text-center mb-4">
                <img src="<%= dbUser.imageURL %>" class="profile-image" alt="Profile Image">
            </div>
            <div class="text-center mb-4">
                <h5 class="mb-1">Profession:</h5>
                <p><%= dbUser.profileType %></p>
            </div>
            <div class="text-center mb-4">
                <h5 class="mb-1">Bio:</h5>
                <p><%= dbUser.bio %></p>
            </div>
            <div class="text-center mb-4">
                <h5 class="mb-1">Skills:</h5>
                <p><%= dbUser.skills %></p>
            </div>
        </div>
    </div>
</div>
